In [18]:
import numpy as np
import sympy as sp
import pickle
from IPython.display import HTML
import ipywidgets as widgets
import matplotlib as mpl
from mpl_toolkits.mplot3d import Axes3D
import matplotlib.pyplot as plt
mpl.rcParams['legend.fontsize'] = 10
import pandas as pd
import itertools
pd.set_option('display.max_colwidth', None)

# function to print latex
def renderListToLatex(e):
    latex_rendering = []

    for i in range(len(e)):
        latex_rendering.append("$$" + sp.latex(e[i]) + "$$<br/>")
    
    return(HTML("".join(latex_rendering[0:])))

### Solving Polynomial Equations (11)

<hr/>

<b>Aim</b>: Extend the undertanding of Catalan and Fuss Catalan

<hr/>

Observe: the definition from Solving Polynomials (7) that defines a solution to a general cubic equation.

$$C(m_2, m_3)  \equiv(-1)^{m_3 + 1} \frac{(2 m_{2} + 3 m_{3})!}{(1 + m_{2} + 2 m_{3})!m_2!m_3!} \frac{c_0^{1 + m_{2} + 2 m_{3}} c_2^{m_2} c_3^{m_3} }{c_1^{2 m_{2} + 3 m_{3} + 1}}$$

Define: $C$ as a function implementation that returns a solution to a general cubic equation.

In [19]:
def C(m2, m3, returnCoefficientsOnly = False, returnCoefficientsOnlyWithoutSigns = False, returnCoefficientsAsFactorialStrings = False):
    c_0, c_1, c_2, c_3 = sp.symbols('c_0, c_1, c_2, c_3')
    s1 = (-1)**(m3 + 1)
    s2 = sp.factorial(2 * m2 + 3 * m3)
    s3 = sp.factorial(1 + m2 + 2 * m3) * sp.factorial(m2) * sp.factorial(m3)

    
    s4 = c_0**(1 + m2 + 2 * m3) * c_2**m2 *c_3**m3
    s5 = c_1**(2 * m2 + 3 * m3 + 1)
    
    s7 = str(2 * m2 + 3 * m3) + "!"
    s8 = str(1 + m2 + 2 * m3) + "!" + str(m2) + "!"  + str(m3) + "!"
    
    if returnCoefficientsOnly:
        s6 = s1 * (s2 / s3)
    elif returnCoefficientsOnlyWithoutSigns:
        s6 = (s2 / s3)
    elif returnCoefficientsAsFactorialStrings:
        s6 = str(s7 + " | " + s8)
    else:
        s6 = s1 * (s2 / s3) * (s4 / s5)

    return(s6)

Define sub multinoial

In [20]:
def subMultinomialWithMultipleEntries(entries):
    
    numerator = sp.factorial(sum(entries) - 1)
    
#     print("NUMERATOR: ", numerator)
    
    denominator = 1
    for i in entries:
        
        denominator = denominator * sp.factorial(i)
 #       print("Partial Denominator", sp.factorial(i))
        
  #  print("Total Denominator: ", denominator)
    return(numerator / denominator)

In [21]:
P1 = np.arange(8)
P6 = np.array([[C(j, i, returnCoefficientsAsFactorialStrings=True) for i in P1] for j in P1])
P7 = pd.DataFrame(P6)
P7

,0,1,2,3,4,5,6,7
0,0! | 1!0!0!,3! | 3!0!1!,6! | 5!0!2!,9! | 7!0!3!,12! | 9!0!4!,15! | 11!0!5!,18! | 13!0!6!,21! | 15!0!7!
1,2! | 2!1!0!,5! | 4!1!1!,8! | 6!1!2!,11! | 8!1!3!,14! | 10!1!4!,17! | 12!1!5!,20! | 14!1!6!,23! | 16!1!7!
2,4! | 3!2!0!,7! | 5!2!1!,10! | 7!2!2!,13! | 9!2!3!,16! | 11!2!4!,19! | 13!2!5!,22! | 15!2!6!,25! | 17!2!7!
3,6! | 4!3!0!,9! | 6!3!1!,12! | 8!3!2!,15! | 10!3!3!,18! | 12!3!4!,21! | 14!3!5!,24! | 16!3!6!,27! | 18!3!7!
4,8! | 5!4!0!,11! | 7!4!1!,14! | 9!4!2!,17! | 11!4!3!,20! | 13!4!4!,23! | 15!4!5!,26! | 17!4!6!,29! | 19!4!7!
5,10! | 6!5!0!,13! | 8!5!1!,16! | 10!5!2!,19! | 12!5!3!,22! | 14!5!4!,25! | 16!5!5!,28! | 18!5!6!,31! | 20!5!7!
6,12! | 7!6!0!,15! | 9!6!1!,18! | 11!6!2!,21! | 13!6!3!,24! | 15!6!4!,27! | 17!6!5!,30! | 19!6!6!,33! | 21!6!7!
7,14! | 8!7!0!,17! | 10!7!1!,20! | 12!7!2!,23! | 14!7!3!,26! | 16!7!4!,29! | 18!7!5!,32! | 20!7!6!,35! | 22!7!7!

In [16]:
P1 = np.arange(8)
P2 = np.array([[C(j, i, returnCoefficientsOnlyWithoutSigns=True) for i in P1] for j in P1])
P3 = sp.Matrix(P2)
P3

Matrix([
[  1,     1,      3,      12,        55,        273,        1428,         7752],
[  1,     5,     28,     165,      1001,       6188,       38760,       245157],
[  2,    21,    180,    1430,     10920,      81396,      596904,      4326300],
[  5,    84,    990,   10010,     92820,     813960,     6864396,     56241900],
[ 14,   330,   5005,   61880,    678300,    6864396,    65615550,    600900300],
[ 42,  1287,  24024,  352716,   4476780,   51482970,   551170620,   5588372790],
[132,  5005, 111384, 1899240,  27457584,  354323970,  4206302100,  46835886240],
[429, 19448, 503880, 9806280, 159352050, 2283421140, 29804654880, 361913666400]])

We know the first column is catalan numbers

We know first row is 

we want to find a uniform interprestation of vertical and horizontal

Good reference - Richard Stanley Enumerative Combinatorics (2 Volumes)

Now look at numbers, frame an extensiion of Catlan and Fuss-catalan

Starting reference - Famous Math Problem 8 (Eulers Triangluation of 
a polygon 

HOw many ways can we subdivide n-gon into triangles 

PUT THIS IN HERE.....

FMP 8



Skip forward to A00108.... note dozens of interpretations

If you scroll down 

Also note A001764....Fuss-Catalan numbers, first row of array ....

start here....adn connect here....

We are going to check out Robert dickau....put in notes - note his page....note differenttypes of set up

check out catalan and fuss-catalbn numbers on - consider Fuss Catalan is a generalisation of Catalan numbers...consider parallels between catalan and fuss catalan


Note - simplest thing often what works best...

Obvious next step....take somethting simple like Euler 

ask - how can we create a polygon using a certain nubmer of tirangles and quadrilaterals!

So take a pentagon - # ways to break into 1 triangle and 1 quadrilateral

In [17]:
P10 = np.arange(1,11)
P11 = np.array([[subMultinomialWithMultipleEntries([j, i, 3]) for i in P10] for j in P10])
P12 = sp.Matrix(P11)
P12

Matrix([
[  4,   10,      20,    35,     56,       84,     120,     165,       220,      286],
[ 10,   30,      70,   140,    252,      420,     660,     990,      1430,     2002],
[ 20,   70,   560/3,   420,    840,     1540,    2640,    4290,   20020/3,    10010],
[ 35,  140,     420,  1050,   2310,     4620,    8580,   15015,     25025,    40040],
[ 56,  252,     840,  2310,   5544,    12012,   24024,   45045,     80080,   136136],
[ 84,  420,    1540,  4620,  12012,    28028,   60060,  120120,  680680/3,   408408],
[120,  660,    2640,  8580,  24024,    60060,  137280,  291720,    583440,  1108536],
[165,  990,    4290, 15015,  45045,   120120,  291720,  656370,   1385670,  2771340],
[220, 1430, 20020/3, 25025,  80080, 680680/3,  583440, 1385670, 9237800/3,  6466460],
[286, 2002,   10010, 40040, 136136,   408408, 1108536, 2771340,   6466460, 14226212]])

In [ ]:
# numbers start out as as factorials a